<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js" defer></script>
</head>
<body class="login">
<form th:action="@{/login}" method="post" onsubmit="return controla()">
    <h1>Login</h1>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Entrar</button>
    <p><a th:href="@{/}">Voltar</a></p>
</form>
</body>
</html>
