<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pagina de Registro</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="registration">
<form th:action="@{/register}" method="post" th:object="${user}">
    <h1>Registrar</h1>
    <div>
        <label for="name">Nome:</label>
        <input type="text" id="name" th:field="*{name}" required />
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
        <label for="dob">Data de nascimento:</label>
        <input type="date" id="dob" th:field="*{dob}" />
    </div>

    <button type="submit">Registrar</button>
    <p><a th:href="@{/}">Voltar</a></p>
</form>
</body>
</html>
