<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pagina Cliente</title>
	<link href="/static/styles.css" rel="stylesheet">
</head>
<body class="welcome-page">
<h1>Welcome, <span th:text="${username}"></span>!</h1>
<p>:Perfil:</p>
<ul>
	<li>Nome: <span th:text="${name}"></span></li>
	<li>Username: <span th:text="${username}"></span></li>
	<li>Data de Nascimento: <span th:text="${dob}"></span></li>
</ul>

<p>O Cliente Fez o login com sucesso.</p>
<p><a th:href="@{/}">Logout</a></p>
</body>
</html>