<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome Page</title>
	<link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
<h1>Welcome, <span th:text="${username}"></span>!</h1>
<p>Your profile:</p>
<ul>
	<li>Name: <span th:text="${name}"></span></li>
	<li>Username: <span th:text="${username}"></span></li>
	<li>Date of Birth: <span th:text="${dob}"></span></li>
</ul>
<p>Technologies:
	<span th:each="tech : ${technology}" th:text="${tech} + ' '">Technology</span>
</p>
<p>You have successfully logged in.</p>
<p><a th:href="@{/}">Logout</a></p>
</body>
</html>